<section>
    <h3>Kirjaudu sisään:</h3>
    <form action="login" method="post">
        <div>
            <label for="username">Sähköpostiosoite:</label>
            <input type="text" placeholder="Sähköpostiosoite" name="username" required>
        </div>
        <div>
            <label for="password">Salasana:</label>
            <input type="password" placeholder="Salasana" name="password" required>
        </div>
        <div>
            <label for="login-button"></label>
            <button type="submit" name="login-button">Kirjaudu sisään</button>
        </div>
    </form>
</section>
<section>
    <h3>Rekisteröidy:</h3>
    <form action="register" method="post">
        <div>
            <label for="username">Sähköpostiosoite:</label>
            <input type="text" placeholder="Sähköpostiosoite" name="username" required>
        </div>
        <div>
            <label for="password">Salasana:</label>
            <input type="password" placeholder="Salasana" name="password" required>
        </div>
        <div>
            <label for="register-button"></label>
            <button type="submit" name="register-button">Registeröidy</button>
        </div>
    </form>
</section>